*.exe
/dev.*
*.sav
*.sav*
/emsdk
/raylib
/.vscode
/.idea
/bittens-adventure.apk
/bittens-adventure.iml
/bin/bittens-adventure.exe
/bin/bittens-adventure
/assets/window-export.png
/.vscode/settings.json
*patch.dll
/target
/Cargo.lock
/rust-src/src/bittendef.rs