GLFW_ICON ICON "bitten_icon.ico"

1 VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Bitten1up"
      VALUE "FileDescription", "Bittens adventure"
      VALUE "FileVersion", "0.2"
      VALUE "InternalName", "Bittens adventure"
      VALUE "LegalCopyright", "(c) 2023 bitten2up"
      VALUE "OriginalFilename", "bittens-adventure.exe"
      VALUE "ProductName", "bitten-engine"
      VALUE "ProductVersion", "0.2-dev"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END