1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Bitten1up"
      VALUE "FileDescription", "Bittens adventure"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Bittens adventure"
      VALUE "LegalCopyright", "bitten2up"
      VALUE "OriginalFilename", "bitten-adventure.exe"
      VALUE "ProductName", "bitten-engine"
      VALUE "ProductVersion", "0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END